/* codigo css */

html {height: 100%;width: 100%;}
*{box-sizing: border-box;}


body{
    display: auto;
    font-family: sans-serif;
    background-color: rgb(37, 37, 37);
    margin: auto;
}
header{
    color: rgb(255, 255, 255);
    height: 75px; 
    display: flex;
    background-color: #2e2e2e;
    align-items: center;
    justify-content: space-between;   
}

#tituloPresentacion h2{
    font-family: sans-serif;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.541);
}
h1{
    background-color: rgba(0, 0, 0, 0.541) ;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 70px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-family: sans-serif;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    text-align: center;
    color: white;
}
#logo-estudiante{
    height: 50px;
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.links{
    color: white;
    text-decoration: none;
    align-items: right;
    padding: 8px;
    margin: 10px;
}
#divPresentacion img{
    height: 90%;
    width: 50%;
    border: #fffaf0bb 7px solid;
    border-radius: 5%;
    margin: 20px;
}

#divPresentacion p{
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    text-align: auto;
    margin: 20px;
}
#divPresentacion{
    display: flex;
    height: 90%;
    width: 95%;
    background-color: blanchedalmond;
    align-items: center;   
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
#seccionPresentacion{
    background-image: url(https://images2.alphacoders.com/778/thumb-1920-77840.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}
hr{
    border: 3px solid rgb(51, 50, 50);
    width: 100%;
    margin: auto;
}
#seccionCarreraTecnica{
    justify-content: center;
    align-items: center;
    height: 1250px;
    background-image: url(https://www.ibackdrop.com/cdn/shop/products/GreenPhotographyBackgroundAbstractTexturedBackdropIBD-201207.jpg?v=1605693456);
}
#seccionCarreraTecnica h2{
    background-color: rgb(39, 38, 38) ;
    color: white;
    font-family: helvetica;
    justify-content: center;
    padding-bottom: 10px;
}
.Cursos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    gap: 32px;
    height: 250px;
    width: 96%;
    align-items: center;   
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
    margin: 40px;
    margin-bottom: 20px;
}
.texto {
    display: flex;
    flex-direction: column; 
    flex: 1; 
}
.imagen img{
    width: 230px; 
    height: 230px;
    object-fit: cover;
    border-radius: 12px;
}
#CarreraUTN{
    height: 550px;
}
#CarreraUTN .imagen img{
    width: 500px; 
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}


#seccionProyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url();
    text-align: center;
}

.proyecto{
    background-color: rgb(49, 73, 26);
    border-radius: 10px;
    margin: 25px;   
    width: 30%;
    height: 90%;
    
}
    
footer{        
    display: flex;
    background-color: lightgray;
    height: 50px;
}